<html>
    <head>
        <link href="../static/css/app.css" rel="stylesheet"/>
        <link href="../static/css/select2.css" rel="stylesheet"/>
        <link href="../static/css/mapbox.css" rel="stylesheet"/>
        <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script> 
        <script type="text/javascript" src="../static/js/jquery.hotkeys.js"></script> 
        <script type="text/javascript" src="../static/js/select2.js"></script> 
        <script type="text/javascript" src="../static/js/mapbox.js"></script> 
        <script type="text/javascript" src="../static/js/mustache.js"></script> 
        <script type="text/javascript" src="../static/js/app.js"></script> 
        <script type="text/javascript" src="../static/js/map.js"></script> 
    </head>
    <body>
        <div id="map"></div>
        <div id="sidebar">
            <div id="cls">
                <h1>Learn better with others.</h1>
                <h2>Real world study groups for online classes.</h2>
                <form id="cls_form" class="gray_outline">
                    <input id="cls_input" type="text" 
                    placeholder="What class are you taking?"></input>
                </form>
            </div>
            <div id="results" class="gray_outline"></div>
            <div id="create" class="gray_outline">
                <form id="create_form">
                    <input type="text" placeholder="time you're available"/>
                    <input type="text" placeholder="your zipcode"/>
                </form>
            </div>
            <div id="create_actions" class="gray_outline">
                <span id="create_cancel">
                    cancel
                </span>
                <button id="create_submit" class="create_button">
                    submit
                </button>
                <div id="create_call_to_action">
                    Don't see one that works?
                </div>
                <button id="create_start" class="create_button">
                    create one
                </button>
            </div>
        </div>
        {% raw %}
            <template id="results_row">
                <div class="sole_timing">
                    {{#timing}}
                        {{date}}<br/>
                        {{time}}
                    {{/timing}}
                </div>

                <div class="sole_people">
                    {{#students}}
                        <img data-src="{{{img}}}">
                    {{/students}}
                    <div class="join_sole" id="join_{{id}}"></div>
                </div>
            </template>
        {% endraw %}
    </body>
</html>


