<html>
    <head>
        <link href="../static/css/app.css" rel="stylesheet"/>
        <link href="../static/css/external/select2.css" rel="stylesheet"/>
        <link href="../static/css/external/mapbox.css" rel="stylesheet"/>
        <script type="text/javascript" src="../static/js/external/jquery-1.8.3.min.js"></script> 
        <script type="text/javascript" src="../static/js/external/jquery.hotkeys.js"></script> 
        <script type="text/javascript" src="../static/js/external/mapbox.js"></script> 
        <script type="text/javascript" src="../static/js/external/moment.min.js"></script> 
        <script type="text/javascript" src="../static/js/external/mustache.js"></script> 
        <script type="text/javascript" src="../static/js/external/select2.min.js"></script> 
        <script type="text/javascript">
            window.sole_ip_loc = $.parseJSON('{{loc|safe}}');
        </script>
        <script type="text/javascript" src="../static/js/app.js"></script> 
        <script type="text/javascript" src="../static/js/map.js"></script> 
        <script type="text/javascript" src="../static/js/data.js"></script> 
        <script type="text/javascript" src="../static/js/create.js"></script> 
        <script type="text/javascript" src="../static/js/loc.js"></script> 
        <script type="text/javascript" src="../static/js/fb.js"></script> 
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
          // Additional JS functions here
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '128848390614241', // App ID
              channelUrl : 'http://127.0.0.1:5000/static/channel.html', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });
          };

          // Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>

        <div id="map"></div>
        <div id="sidebar">
            <div id="course">
                <h1>Learn better with others.</h1>
                <h2>Real world study groups for online classes.</h2>
                <form id="course_form" class="gray_outline">
                    <input id="course_input" type="text" 
                    placeholder="What class are you taking?"></input>
                </form>
            </div>

            <div id="results" class="gray_outline"></div>

            <div id="create" class="gray_outline">
                <form id="create_form">
                    <div id="create_form_heading">Start a study session.
                        <span id="create_form_message"></span>
                    </div>

                    <div class="create_form_row"> 
                        <input id="create_day" type="hidden" />
                        <input id="create_time" type="hidden" />
                    </div>

                    <div class="create_form_row">  
                        Near <input id="create_enter_location" type="text"
                        placeholder="postal code, country">    
                        <button id="create_find_location">or find me</button>
                    </div>
                </form>
            </div>

            <div id="create_actions" class="gray_outline">
                <span id="create_cancel">
                    cancel
                </span>
                <button id="create_submit" class="button-link button_yes">
                    submit
                </button>

                <span id="create_call_to_action">
                    Don't see one that works?
                </span>
                <button id="create_start" class="button-link button_yes">
                    start one
                </button>
            </div>
        </div>

        {% raw %}
            <template id="results_row">
                <div class="sole_timing">
                    {{day}}<br/>
                    {{time}}
                </div>

                <div class="sole_people">
                    {{#students}}
                        <img data-src="{{{img}}}">
                    {{/students}}
                    <div class="join_sole" id="join_{{id}}"><p>+</p></div>
                    <!--button class="button-link button_yes button_square join_sole" id="join_{{id}}">+</button-->
                </div>
            </template>
            <template id="result_overlay">
                <div class="result_overlay_inside">
                    Join this study group?
                    <a class="button-link button_yes" id="yes_{{id}}">yes</a>
                    <a class="button-link button_no" id="no_{{id}}">no</a>
                </div>
            </template>
        {% endraw %}

    </body>
</html>


