<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Massively Offline</title>
    <link href="static/styles/app.css" rel="stylesheet"/>
    <link href="static/styles/external/select2.css" rel="stylesheet"/>
    <link href="static/styles/external/mapbox.css" rel="stylesheet"/>
</head>
<body>
    <div id="fb-root"></div>
    <script>
      // Additional JS functions here
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '128848390614241', // App ID
          channelUrl : 'http://127.0.0.1:5000/static/channel.html', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });
      
    };

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));
    </script>

    <div id="map"></div>
    <div id="sidebar">
        <div id="course">
            <h1>About this much text here.</h1>
            <h2>A little more in ths one, maybe this much.</h2>
            <form id="course_form" class="gray_outline">
                <input id="course_input" type="text" 
                placeholder="What class are you taking?"></input>
            </form>
        </div>

        <div id="results_container">
            <div id="results" class="gray_outline">
            </div>
            <div id="create_actions" class="gray_outline">
                <span id="create_call_to_action">
                    Don't see one that works?
                </span>
                <button id="create_start" class="button-link button_yes">
                    start one
                </button>
            </div>
        </div>

        <div id="create_container">
            <div id="create" class="gray_outline">
                <div id="create_form_heading">Get together.
                    <span id="create_form_message"></span>
                </div>

                <form id="create_form">
                    <div class="create_form_row"> 
                        <input id="create_day" type="hidden" />
                        <input id="create_time" type="hidden" />
                    </div>

                    <div class="create_form_row">  
                        <input id="create_address" type="text"
                        placeholder="near address">
                        <a id="create_find_address" class="button-link button_info">
                            find address
                        </a>
                    </div>
                </form>
            </div>
            <div id="create_actions" class="gray_outline">
                <span id="create_cancel">
                    cancel
                </span>
                <button id="create_submit" class="button-link button_yes">
                    submit
                </button>
            </div>
        </div>


    </div>

    {% raw %}
    <script id="results_row" type="text/template">
        <div class="sole_timing">
            {{day}}<br/>
            {{time}}
        </div>

        <div class="sole_people">
            {{#students}}
            <a href="https://www.facebook.com/profile.php?id={{facebook_id}}" target="_blank">
                <img src="http://graph.facebook.com/{{facebook_id}}/picture?width=50&height=50" 
                alt="{{name}}" facebook_id="{{facebook_id}}">
            </a>
            {{/students}}

            <div class="join_leave_sole leave_sole" id="leave_{{id}}">
                <p>leave</p>
            </div>
            <div class="join_leave_sole join_sole" id="join_{{id}}">
                <p>join</p>
            </div>
        </div>
    </script>

    <script id="no_results" type="text/template">
        <div class="result no_result">
            <p>Nothing yet.</p>
        </div>
    </script>

    <script id="results_overlay" type="text/template">
        <div class="result_overlay_inside">
            Are you sure?
            <a class="button-link button_yes" id="yes_{{id}}">yes</a>
            <a class="button-link button_no" id="no_{{id}}">no</a>
        </div>
    </script>

    <script id="create" type="text/template">
        <div id="create_actions" class="gray_outline">
            <span id="create_cancel">
                cancel
            </span>
            <button id="create_submit" class="button-link button_yes">
                submit
            </button>

            <span id="create_call_to_action">
                Don't see one that works?
            </span>
            <button id="create_start" class="button-link button_yes">
                start one
            </button>
        </div>
    </script>

    {% endraw %}

    <script src="static/scripts/external/jquery-1.8.3.min.js"></script>
    <script src="static/scripts/external/jquery.hotkeys.js"></script>
    <script src="static/scripts/external/underscore.js"></script>
    <script src="static/scripts/external/backbone.js"></script>
    <script src="static/scripts/external/backbone.localStorage.js"></script>
    <script src="static/scripts/external/mapbox.js"></script>
    <script src="static/scripts/external/moment.min.js"></script>
    <script src="static/scripts/external/mustache.js"></script>
    <script src="static/scripts/external/select2.min.js"></script>
    <script type="text/javascript">
        window.sole_ip_loc = $.parseJSON('{{loc|safe}}');
        window.sole_facebook_id = '{{facebook_id}}'; 
    </script>
    <script src="static/scripts/models/sole.js"></script>
    <script src="static/scripts/models/course.js"></script>
    <script src="static/scripts/views/sole.js"></script>
    <script src="static/scripts/views/soleList.js"></script>
    <script src="static/scripts/views/sidebar.js"></script>
    <script src="static/scripts/views/create.js"></script>
    <script src="static/scripts/utils/format.js"></script>
    <script src="static/scripts/app.js"></script>
</body>
</html>

